* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main{
    width: 100%;
    height: 100%;
    color: #fff;
    background: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);;
    background-size: 400% 400%;
    -webkit-animation: Gradient 40s ease infinite;
    -moz-animation: Gradient 40s ease infinite;
    animation: Gradient 40s ease infinite;
}
.admin{
    width: 100%;
    height: 100%;
    color: #fff;
    background: linear-gradient(120deg, #fee140 0%,  #fa709a 100%);
    background-size: 400% 400%;
    -webkit-animation: Gradient 40s ease infinite;
    -moz-animation: Gradient 40s ease infinite;
    animation: Gradient 40s ease infinite;
}
.faculty{
    width: 100%;
    height: 100%;
    color: #fff;
    background: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
    background-size: 400% 400%;
    -webkit-animation: Gradient 40s ease infinite;
    -moz-animation: Gradient 40s ease infinite;
    animation: Gradient 40s ease infinite;
}
.student{
    width: 100%;
    height: 100%;
    color: #fff;
    background: linear-gradient(120deg, #30cfd0 0%, #330867 100%);
    background-size: 400% 400%;
    -webkit-animation: Gradient 40s ease infinite;
    -moz-animation: Gradient 40s ease infinite;
    animation: Gradient 40s ease infinite;
}
.heading{
	color: #F1FFFA;
	font-weight: Bold;
	font-family: Arial;
}

.big{
	font-size: 150px;
}

.small{
	font-size: 75px;
}

.loginBox{ 
    background-color: rgba(255,255,255,0.2);
    position: relative;
    width: 80%;
    left: 0%;
    top: 0%;
    border-radius: 24px;
    border: 1px solid #36413E;
}
.divide{
	border: 0;
	height: 0;
	border-top: 2px solid rgba(0, 0, 0, 0.1);
	border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

.craftyButton{
	height: 30%;
	width: 100%;
	border-radius: 28px;
	background-color: rgba(255,255,255,0.4);
	color: #36413E;
	font-size: 40px;
	font-weight: Bold;
	font-family: Arial;
	border: 3px solid #36413E;
}
.craftyButton:hover{
    height: 30%;
    width: 100%;
    border-radius: 28px;
    background-color: rgba(241,255,250,1);
    color: #36413E;
    font-size: 40px;
    font-weight: Bold;
    font-family: Arial;
    border: 3px solid #36413E;
}
.craftyButton:active{
    height: 30%;
    width: 100%;
    border-radius: 28px;
    background-color: #36413E;
    color: rgba(241,255,250,1);
    font-size: 40px;
    font-weight: Bold;
    font-family: Arial;
    border: 3px solid rgba(241,255,250,1);
}
.loginButton{
	border-radius: 10px;
	background-color: rgba(255,255,255,0.4);
	color: #36413E;
	font-size: 20px;
	font-family: Arial;
	border: 2px solid #36413E;
    margin: 10px;
}
.loginButton:hover{
    border-radius: 10px;
    background-color: rgba(241,255,250,1);
    color: #36413E;
    font-size: 20px;
    font-family: Arial;
    border: 2px solid #36413E ;
    margin: 10px;
}
.loginButton:active{
    border-radius: 10px;
    background-color: #36413E;
    color: rgba(241,255,250,1);
    font-size: 20px;
    font-family: Arial;
    border: 2px solid rgba(241,255,250,1);
    margin: 10px;
}
.loginInput{
    border-radius: 24px;
    width: 80%;
    height: 40px;
	background-color: rgba(241,255,250,0.9);
	color: #36413E;
	font-size: 20px;
	font-family: Arial;
    font-weight: bold;
	border: 2px solid #36413E;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.loginInput:hover{
    border-radius: 24px;
    width: 80%;
    height: 40px;
    background-color: rgba(255,255,255,1);
    color: #36413E;
    font-size: 20px;
    font-family: Arial;
    font-weight: bold;
    border: 2px solid #36413E;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.loginInput:focus{
    border-radius: 24px;
    width: 80%;
    height: 40px;
    background-color: rgba(255,255,255,1);
    color: #36413E;
    font-size: 20px;
    font-family: Arial;
    font-weight: bold;
    border: 2.5px solid #36413E;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.threeTab{
	display: grid;
	width: 100%;
	height: 300px;
	grid-template-columns: 33% 33% 33%;
}
.loginLabel{
    font-family: Arial;
    font-weight: bold;
    font-size: 20px;
    color: #36413E;
}
.blurTop{
    position: fixed;
    background-color: rgba(255,255,255,0.9);
    filter: blur(2px);
    z-index: 2;
	width: 100%;
	height: 90px;
}
.selectTop{
    position: fixed;
    width: 100%;
    z-index: 5;
    height: 100px;
    border: 1px;
}
.craftyTable{
    border-radius: 24px;
    width: 97%;
    border: 2px solid #F1FFFA;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
.craftyCell{
    border-bottom: 1px solid #F1FFFA;
}
.selectButton{
	border-radius: 12px;
	background-color: rgba(255,255,255,0.4);
	color: #36413E;
	font-size: 18px;
	font-family: Arial;
	border: 2px solid #36413E;
    margin: 10px;
    width: 7%;
    padding-right: 5px;
    padding-left: 5px;
}
.selectButton:hover{
    border-radius: 12px;
    background-color: rgba(241,255,250,1);
    color: #36413E;
    font-size: 18px;
    font-family: Arial;
    border: 2px solid #36413E;
    margin: 10px;
    width: 7%;
    padding-right: 5px;
    padding-left: 5px;
}
.selectButton:active{
    border-radius: 12px;
    background-color: #36413E;
    color: rgba(241,255,250,1);
    font-size: 18px;
    font-family: Arial;
    border: 2px solid rgba(241,255,250,1);
    margin: 10px;
    width: 7%;
    padding-right: 5px;
    padding-left: 5px;
}
.selectCal{
    border-radius: 24px;
    height: 30px;
	background-color: rgba(255,255,255,1);
	color: #36413E;
	font-size: 18px;
	font-family: Arial;
    font-weight: bold;
	border: 2px solid #36413E;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 15%;
}
.selectBatch{
    border-radius: 24px;
    height: 30px;
	background-color: rgba(255,255,255,1);
	color: #36413E;
	font-size: 18px;
	font-family: Arial;
    font-weight: bold;
	border: 2px solid #36413E;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 10%;
}
.inputLabel{
    font-weight: bold;
    color: #F1FFFA;
    font-size: 20px;
}

/* EXTRA CODE */


@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}